.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.vscode/
.eclipse/
node_modules/
build/
dist/
*.log
logs/
*.tmp
tmp/
__pycache__/
*.py[cod]
venv/
.env
__pycache__
venv
controllers/__pycache__
models/__pycache__