{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h2>User Summary</h2>
    <p>Welcome, {{ user.username }}!</p>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('controllers.user_dashboard')}}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href ="{{url_for('controllers.available_quizzes')}}">Available Quiz</a>
                </li>
                <li>
                    <a class="nav-link" href ="{{url_for('controllers.user_summary')}}">Summary</a>
                </li>
                <li>
                    <a class="nav-link" href ="{{url_for('controllers.logout')}}">Log out</a>
                </li>
            </ul>
            
        </div>
    </nav>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Average Scores by Subject</h3>
            <img src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart" style="width: 100%;">
        </div>
        
        <div class="col-md-6">
            <h3>Max Score Distribution by Subject</h3>
            <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart" style="width: 100%;">
        </div>
    </div>

    <h3 class="mt-4">Your Quiz Scores</h3>
    {% if scores %}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Quiz Name</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{ score.quiz.name }}</td>
                <td>{{ score.total_score }}</td>
                <td>{{ score.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No quiz attempts recorded yet.</p>
    {% endif %}
</div>
{% endblock %}
